* {
    font-family: 'Lacquer',cursive;
}

body {
    background-color: black;
}

.hidden {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: red;
}

#myText {
    position: absolute;
    top: 50%;
    left: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bt-ok {
    position: absolute;
    top: 50%;
    left: 56%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70px;
    width: 100%;
    background-color: #fffdd0;
}

.nicks {
    position: relative;
    top: 10px;
    height: 70px;
    padding-right: 300px;
}

#red, #blue, #green, #yellow{
    float: right;
    min-width: 100px;
    padding: 11px 7px 11px 7px;
    height: 30px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
}

.board {
    position: absolute;
    top: 125px;
    left: 50px;
    display: flex;
    background-color: brown;
    height: 700px;
    width: 1000px;
}

.bt-dice-hide {
    display: none;
}

.bt-dice {
    display: block;
    position: absolute;
    left: 100px;
    top: 50px;
}

.dice-number {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 100px;
    height: 100px;
    font-size: 50px;
}

.square {
    position: absolute;
    top: 50px;
    left: 300px;
    height: 600px;
    width: 600px;
    border: 4px solid black;
}

.red-square {
    position: absolute;
    width: 120px;
    height: 120px;
    /* background-color: red; */
}

.blue-square {
    position: absolute;
    left: 480px;
    width: 120px;
    height: 120px;
    /* background-color: blue; */
}

.green-square {
    position: absolute;
    left: 480px;
    top: 480px;
    width: 120px;
    height: 120px;
    /* background-color: green; */
}

.yellow-square {
    position: absolute;
    top: 480px;
    width: 120px;
    height: 120px;
    /* background-color: yellow; */
}


.pawn {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid black;
}

.red-field {
    position: absolute;
    top: 260px;
    left: 70px;
    height: 40px;
    width: 200px;
}
.blue-field {
    position: absolute;
    top: 50px;
    left: 280px;
    height: 200px;
    width: 40px;
}
.green-field {
    position: absolute; top: 260px; left: 330px;
    height: 40px;
    width: 200px;
}
.yellow-field {
    position: absolute; top: 310px; left: 280px;
    height: 40px;
    width: 200px;
}

.pawn-red {
    position: absolute;
    top: 25%;
    right: 25%;
    background-color: red;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.pawn-blue {
    position: absolute;
    top: 25%;
    right: 25%;
    border: 1px solid black;
    background-color: blue;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.pawn-green {
    position: absolute;
    top: 25%;
    right: 25%;
    border: 1px solid black;
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.pawn-yellow {
    position: absolute;
    top: 25%;
    right: 25%;
    border: 1px solid black;
    background-color: yellow;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.timer {
    width: 20px;
    height: 20px;
    background-color: black;
    color: #fff;
}
